<div class="bg-light m-4">
<h1 class="m-4">Dashboard</h1>
<p class="lead m-4 display-1">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-lg btn-outline btn-secondary m-4">Logout</a>
<a href="/dashboard/home" class="btn btn-lg btn-outline btn-info m-4">Home</a>
</div>
    
